<template>
<nav class="navbar navbar-light bg-faded">
  <router-link class="navbar-brand" to="/" exact>Home</router-link>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <router-link class="nav-link" to="/movie">Movie</router-link>
    </li>
  </ul>
</nav>
</template>

<script>
  
</script>

<style lang="stylus">
  .router-link-active
    color blue!important
</style>