<template>
<div class="add">
  <div class="btn-group" role="group" aria-label="Media selection">
    <button type="button" 
      v-bind:class="[{ active: media==category }, 'btn btn-secondary']" 
      v-for="category in categories"
      @click="switchMedia(category)">
      {{ category }}
    </button>
  </div>
	<input class="form-control"
      v-model="newMedia"
      @keyup="search($event, newMedia)"
      @keyup.enter="search(newMedia)"
      @keyup.esc="flushItems">
  <div class="list-group">
    <a class="list-group-item list-group-item-action pointer" v-for="item in items">
      <span @click="add(item)">
        <!-- game -->
        <span v-if="item.name">
          {{ item.name }} ({{ item.first_release_date | date}})
        </span>

        <!-- movie -->
        <span v-if="item.original_title">
          {{ item.original_title }} ({{ item.release_date }})
        </span>
      </span>
    </a>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  computed: {
    items () {
      switch(this.media) {
        case 'game':
          return this.$store.getters.gameList
          break;
        case 'movie':
          return this.$store.getters.movieList
          break;
      }
    }
  },
	data () {
	  return {
      categories: [
        'game', 'movie'//, 'music'
      ],
      media: 'movie',
	    newMedia: ''
	  }
	},
  filters: {
    date: function (data) {
      console.log(data)
      var d = new Date(data),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;

      return [year, month, day].join('-');
        return month
      }
  },
	methods: {
    /*
      add a new movie to the db
     */
    add (element) {
      switch(this.media) {
        case 'game':
          this.$store.dispatch('gameAdd', element)
          break;
        case 'movie':
          this.$store.dispatch('movieAdd', element)
          break;
      }
      this.newMedia = ''
    },
    flushItems () {
      this.$store.dispatch('movieResetSuggestion')
    },
    switchMedia (media) {
      this.media = media
    },
    search: _.debounce(function (event, name) {
      if (!name) {
        this.flushItems()
      }
      if (event.key!='Escape') {
        switch(this.media) {
          case 'game':
            this.$store.dispatch('gameSearch', name)
            break;
          case 'movie':
            this.$store.dispatch('movieSearch', name)
            break;
        }  
      }
          
    }, 500)
  }
}
</script>

<style lang="stylus">
.pointer
  cursor pointer
</style>