<template>
<div class="list">
  <div class="row">
    <div class="col-md-3 col-xs-6" v-for="item in items"> 
      <div class="card">
        <!-- game -->
        <div class="img"
          v-if="item.type == 1"
          :style="{ 'background-image': 'url(https://images.igdb.com/igdb/image/upload/t_cover_big_2x/' + item.image + ')' }">
        </div>
        
        <!-- movie -->
        <div class="img"
          v-if="item.type == 2" 
          :style="{ 'background-image': 'url(https://image.tmdb.org/t/p/w300_and_h450_bestv2' + item.image + ')' }">
        </div>

        
        <div class="card-block">
          <h4 class="card-title">{{ item.name }}</h4>
          <h6 class="card-subtitle text-muted">{{ item.release_date }}</h6>
        </div>
        <div class="card-block">
          <a href="#" class="card-link"
            v-on:click.stop.prevent="deleteMedia(item.id)">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      items: 'medias'
    })
  },
  data () {
    return {
      items: ''
    }
  },
  filters: {
    getMonth (value) {
      const objDate = new Date(value),
          locale = "en-us",
          month = objDate.toLocaleString(locale, { month: "long" });
      return month
    }
  },
  methods: {
    deleteMedia (id) {
      this.$store.dispatch('mediaDestroy', id)
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.$store.dispatch('mediaFetch')
    }.bind(this))
  }
}
</script>

<style lang="stylus" scoped>
.img { 
    background-size cover
    background-position 50% 50%
    height 300px
    width 350px    
}
  
.row > div[class*='col-']
  display flex
  flex 1 0 auto
</style>