<template>
  <div id="movie">
    <add class="mb-2"></add>
    <list></list>
  </div>
</template>

<script>
import Add from './Add'
import List from './List'
export default {
  name: 'Movie',
  components: {
    Add,
    List
  }
}
</script>

<style lang="stylus">
</style>